@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
*{
    margin: 0;
    padding: 0;
    border-sizing: border-box;
}
body{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(260deg, rgb(1, 0, 19), 0%, rgb(1, 4, 57)100%);
}
.text{
    background: url("./bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0,2);
    text-align: center;
}
.logo-tree{
    height: 100px;
    overflow: visible;
}
.title{
    color: rgb(255,37,37);
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Niconne', cursive;  
}
.subtitle{
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}
.snow{
    position: fixed;
    transform: translateY(0);
    color: #fff;
    font-size: 30px;
    animation: fall 2s linear;
    top: -10vh;
}
@keyframes fall{
    to{
        transform: translateY(115vh);
    }
}


